<% provide(:title, "About Me") %>

<div class="row">
  <div class="span10 offset1">
    <h1>About Me</h1>

    <p>Hi, I’m Jeremy—a geek, a nerd, and a gamer—like you probably are.  I was never particularly athletic, and hated P.E. and sports growing up.  Yep, I was even the kind of kid who played Pokemon cards well beyond the point that it was socially acceptable to do so (re: college).  I kicked ass at it, even though many of the asses, admittedly, were those of small children.  Suck it, kids.</p>

    <p>But eventually I realized how important my health was, and I wanted to get in better shape, so I made a bit of a career change and decided to become a health and P.E. teacher.  Yeah, it came as a surprise to pretty much everyone, and my parents quickly developed a fear that their son was about to embark in a long line of changes of major, quite different from their hope that he might be the first in our family to graduate from college.  But I defied all expectations, and fast forward roughly one Ph.D. in Health Education and Promotion later, I’ve combined my loves of fantasy, gaming, and physical activity into one game to rule them all: Anarchum. </p>

    <p>Not very long ago, I was researching gamers who played Dungeons and Dragons (essentially I study the science of fun), when I came across this thing called battle-gaming, where people whacked eachother with “swords” made out of pool noodles, PVC pipes, and copious amounts of tape, all wrapped in a nice soft, um, sock.  Sounds strange, but it was actually a lot of fun, and a great workout!  So some time a bit later, being that I was temporarily on the faculty of the physical education department at Westminster College, I decided to teach a class on it for P.E. credit.</p>

    <p>I told my smallest class (six students) about the class, and word spread like silver fire.  The class filled to capacity within a week of registration, and everyone was so excited for the class!  Naturally, so was I, and overall, the class was a huge success.  Here’s some of the feedback I got:</p>


    <ul>

      <li>"I loved this class, and I hope it is offered again."</li>
 
      <li>"This class was amazing."</li>
  
      <li>"This course should be offered every semester."</li>

      <li>"Awesome stuff!"</li>

      <li>"Amazing class."</li>

      <li>"Best class I've taken in 4 years.  Suck it, permanent faculty."</li>

    </ul>


    <p>But over my time with the game, I recognized many design problems… things which actively lessened the amount of fun players were having, weaknesses that could be improved upon, and lots that just seemed dated.  So, when my assignment at the college ended, I decided to make a new game—one that would draw upon my knowledge of game design and sport, and bring this great concept which had been languishing for over 30 years to its rightful place as the next great sport:  A sport for gamers, geeks, and nerds.  So I present to you, Anarchum.  Oh, and me.  I’m Jeremy Winn, project manager and lead game designer of Anarchum.  Pleasure to meet you. </p>

    <p>I hope you like our game!</p>

    <p>-Jeremy E. Winn <br />
    (unfortunately, the “E” does not stand for “epic”… /sigh)</p>
  </div>
</div>
