<% provide(:title, "Frequently Asked Questions") %>

<div class="faq span10 offset1">

<h1>Frequently Asked Questions (FAQ)</h1>

<p>Hi, and welcome to our FAQ!  Thanks for stopping by to learn a bit more about our new game: Anarchum!</p>

<h4>What is Anarchum?</h4>

<p>We like to call it Massively Multiplayer Live Roleplaying Sport.  Anarchum is a sport created by gamers, for gamers, to help you and your friends enjoy all the fun of gaming while getting in better shape.  It’s a game system modeled after your favorite fantasy games and stories, and designed for those of us who find traditional exercise boring.  Why should those characters get all the exercise?  Why can’t fitness be as exciting for us as it is for them?  Now, it is!</p>

<p>We combined the gaming structure of an MMORPG with the sporting elements of battle-gaming, plus the storytelling of D&D and live action roleplaying (LARP).  How do epic battles with foam swords and Nerf guns sound?  Geeky?  Yes, but like most geeky things in life, SO MUCH FUN.</p>

<p>Whether you want to compete at the national level, or just play with family in your own back yard to shed a few pounds, Anarchum has a style of play that is right for you!  Will you wield a sword, a spear, or a bow?  Will you sling spells or bullets?  Be a medic, jester, cook, or blacksmith?  Do you prefer to focus on battle, strategy, re-enactment, or roleplaying?  Whatever your interests are, use them to carry you and your team to victory!  So whether you’re a diehard gamer, or just looking for a genuinely fun workout, read on to learn more, or go ahead and Sign Up!</p>

<h4>Wait a minute… did you say LARP?  But I’m TOO COOL for LARP!</h4>

<p>Really?  That’s not what I heard!  But okay, let me ask you this: Are you too cool for one of the best workouts of your life, and to have an amazing time while doing it?  Didn’t think so.</p>

<h4>C’mon… It can’t really be that fun.</h4>

<p>Oh, it is, but don’t take our word for it… be one of the many who plays our game until they’re totally winded on their first day out, getting a great workout without even thinking about it.  And you’ll be back for more, too!  Call us optimistic, but we believe that Anarchum can go mainstream, like World of Warcraft did for the MMORPG (complete with B-list celebrity endorsements!).  Remember when people thought video games were for nerds and basement dwellers?  What a bunch of fools they turned out to be!  You don’t want to be a fool, do you?  Mr. T would pity you so hard.</p>

<h4>Ok, say I take your word for it.  Why should I play Anarchum instead of some other LARP game?</h4>

<p>Because no other game offers all that Anarchum does, period.  In addition to allowing you to make great friends (and mortal enemies!) while getting great exercise, Anarchum is also the ONLY world-wide game of its kind that allows you to:</p>

<ul>
  
  <li>Be truly anything you want with more than a BILLION possible skill combinations!  You will never meet another player exactly like you!</li>

  <li>Whether you’re interested in combat, strategy, role-playing, or reenactment, you and your friends can still work together to achieve victory — even if they have completely different goals or playstyle preferences from your own!</li>

  <li>Use both swords and blasters (e.g., ‘Nerf’ guns), plus pretty much any other kind of weapon you can think of!</li>

  <li>Compete at the national level for the title of Overlord… ruler of the entire world!</li> 

  <li>Our players make actual history by being written into the game documents, quests, and stories!</li>

  <li>Play in a world-wide game on your own terms, with whoever you want, whenever you want! Anarchum was designed to be playable with your friends in your own back yard, or even alone! </li>

  <li>Take part in discovering the world of Anark, a land full of mystery, suspense, and plain badassery, with more than 20 years of content currently planned!</li>
  
</ul>

<p>And that’s not all!  Anarchum also:</p>

<ul>

  <li>Provides the smoothest game experience, designed to prevent confusion during play.</li>

  <li>Is easy to learn, but difficult to master!  (other games hit you with a 100 page manual on day one!  Yikes!)</li>

  <li>Emphasizes safe but fierce play for everyone!  Even if combat isn’t for you, you can still be a valuable asset to your team and a threat on the field!</li>

  <li>Keeps you in the action longer than the next leading competitor!</li>

</ul>

<p>The bottom line is that Anarchum truly offers the best of all pretend worlds!  It’s the One Game to rule them all!</p>

<h4>Wait… I can shoot people with "Nerf" guns?  WHY DIDN’T YOU SAY THAT SOONER?!?</h4>

<p>Hell yes you can!  We’re the only national-level game that has both swords and blasters.  We use “Nerf”-type guns, which act as a device called a Caster that shoots magically charged bullets.  So while they’re not “guns” in the modern sense, and they don’t do supreme damage, they’re still a fun and effective weapon to use.</p>

<h4>Will this teach me how to REALLY fight?</h4>

<p>Yes and no.  No foam fighting sport will genuinely prepare you for real combat with a weapon (in this imaginary sword fight you’re preparing for), but it will improve your physical abilities, confidence, and general defense skills.  It’s not intended as a self defense course, but it is a fun way to become more physically fit and coordinated.  You can also choose to play in a way that more closely resembles real fighting, if you prefer.</p>

<h4>What if me or one of my friends wants to play but isn’t interested in fighting?</h4>

<p>There are plenty of other ways to have fun and help your team without jumping into the fray!  You can be a healer, an artisan, an entertainer, or a trickster, just as a few examples.  We’re very receptive to ideas from our players, too, so if you’d like to help out your team in a totally new way, tell us, and we’ll do our best to make it happen!  (Especially if it will finally get that significant other of yours to play with you!)</p>

<h4>Still, I really can’t see myself role-playing.</h4>

<p>That’s ok!  Role-playing isn’t for everyone, and it’s not required at all.  Most players just use regular speech—people in Anark don’t normally talk with a thick English “thee/thou” accent.  We try to be the badasses and the regular folks from movies and video games, more than anything.  If you decide you’d like to try your hand at role-playing, you’re strongly encouraged to check out our guide, How to Play Pretend (for Grownups).  And if it just isn’t for you, that’s cool too.</p>

<h4>But will I have to dress up in a ridiculous costume?</h4>

<p>No, and please don’t!  The idea is to look like a cool person from a fantasy world, not a dork from the real world.  We want you to be comfortable and enjoy playing Anarchum, so while we encourage and reward players for assembling badass “garb” (costumes), it’s not required, and we don’t follow the same conventions that LARP games do (which often results in the funny-looking outfits you’ll see).  Anark is a fantasy world, not the middle ages, and looking cool is always more important than “historical accuracy.”  Exotic clothes like those from India and other Asian countries create a very affordable and attractive fantasy look, ensuring that people will be admiring your threads rather than laughing at them.  Of course, medieval-era clothing is totally appropriate, too!  All players are encouraged to check out our Anark Fashion and Garb Guide for helpful tips on putting together an outfit.</p>

<h4>FINE, I’ll give this “Anarchum” a shot.  So what do I need to do?</h4>

<p>The first thing you’ll need to do is find some friends (the more the merrier) to play with.  You can check here (link) to see if there’s anyone in your area looking for new players, or you can go here (link) to learn how to start your own group.  Then, you dive right in to the New Player Manual, and before you know it, you’ll be hooked!</p>

<h4>It sounds great, but I already have another game that I play… </h4>

<p>Shhh, so this is kind of a secret, but you can actually play Anarchum alongside your other game.  You can even gain Anarchum experience while playing another game!  And remember, Anarchum is made ideally for groups of friends, so you can play whenever the mood strikes.  If you’ve been waiting all week or month for an event, Anarchum is always right here for you!</p>

<h4>What am I waiting for?</h4>

<p>I don’t know!  You should probably go ahead and <%= link_to 'sign up', new_user_registration_path %> already!</p>

</div>