<div class="span8 offset2">
  <h3><%= @user.username %>'s Profile</h3>
  <% if @user.name %>
	<p>Real name: <%= @user.name %> </p>
  <% end %>
  <% if @user.character_name %>
	<p>Character name: <%= @user.character_name %> </p>
  <% end %>
  <p>Email: <%= @user.email if @user.email %></p>
