<h3>Home</h3>

<p>Welcome to Anarchum—a high-fantasy, dystopian world where ambitious wizards and warriors clash in unending pursuit of world domination.  Do you have what it takes to sit on the World’s Throne as the next Overlord?  Or will you roam the lands as a revered Warlord in pursuit of adventure, or justice?  Perhaps you’ll pledge fealty to the cause of another?  The path you choose is yours to forge, if only you are willing to plot and slash your way through all who would stand against you…</p>
<p>Most of all, Anarchum is a sport-like game system created by gamers, for gamers, that you and your friends can use to have fun while getting in better shape.  Whether you want to compete at the national level, or just play around in your own back yard, Anarchum has a style of play that is right for you!  So if you like video games, fantasy, martial arts, Renaissance fairs, theater, or if you’re just looking for a new way to shed a few pounds, you’re our kind of people!  Check us out—we have tons of fun in store for you!</p>
<p>Want to know more? (link to FAQ)</p>

