<% provide(:title, "Home") %>

<p><img src="assets/cover.png" alt="anarchum home cover"></p><br />

<div class="row">
  <div class="span6">

    <p>Welcome to Anark—a high-fantasy, dystopian world where ambitious wizards and warriors clash in unending pursuit of world domination.  Will your tale be of adventure, justice, or revenge?  Can you succeed at defending your realm’s magical totems in the Relic Wars?  Will you be one of the revered Warlords, fighting to defend your right to the crown?  Do you have what it takes to sit on the World’s Throne as the next Overlord?  In Anark, your legend lies in your hands alone.  Whether you walk the path of adventure, fealty, justice, or revenge, the path you choose is yours to forge — if you are willing to strike down all who would stand against you.  </p> <br /><br />
    <div class="row">
      <div class="span4 offset1">
        <%= link_to('Learn More!', new_user_registration_path, :class => 'btn btn-large btn-block btn-primary-custom') %>
      </div>
    </div>
  </div>
  <div class="span6">
    <ul>
      <li>Compete in worldwide play for the title of Overlord… ruler of the entire world!  Our players make actual history and achieve real fame by being written into the game documents!</li>
      <li>Be truly anything you can imagine with over 60 classes and more than a BILLION possible skill combinations!  You will never meet another player exactly like you!</li>
      <li>Take part in discovering the world of Anark, a land full of mystery, suspense, and plain badassery, with more than 20 years of story content currently planned!</li>
      <li>Whether you’re hardcore or casual, customizable character rules allow players of every playstyle to enjoy working together as a team towards the same goal.  Play the way YOU want to play!</li>
      <li>Improve your fitness and athletic ability while having the time of your life!</li>
    </ul>
  </div>
</div>


