<p><img src="assets/cover.png" alt="anarchum home cover"></p><br />

<div class="row">
  <div class="span6">
    <p><strong>Welcome to Anarchum</strong> — a high-fantasy, dystopian world where ambitious wizards and warriors clash in unending pursuit of world domination.  Do you have what it takes to sit on the World’s Throne as the next Overlord?  Or will you roam the lands as a revered Warlord in pursuit of adventure or justice?  Perhaps you’ll pledge fealty to the cause of another and serve in a guild or mercenary band?  The path you choose is yours to forge - if you are willing to plot and slash your way through all who would stand against you…</p>
  </div>
  <div class="span6">
    <p>Most of all, Anarchum is a sport-like game system created by gamers, for gamers, that you and your friends can use to have fun while getting in better shape.  Whether you want to compete at the national level, or just play around in your own back yard, Anarchum has a style of play that is right for you!  So if you like video games, fantasy, martial arts, Renaissance fairs, theater, or if you’re just looking for a new way to shed a few pounds, you’re our kind of people!  Check us out—we have tons of fun in store for you!</p>
  </div>
</div>

<div id="index-buttons">
	<div class="row">
	  <div class="span4 offset4">
		<%= link_to('Learn More!', new_user_registration_path, :class => 'btn btn-large btn-block btn-primary-custom') %>
	  </div>
	</div>
</div>

